{extend name="layout" /} {block name="main"}
<div class="member_paner">
  <div class="menu">
    <div class="header">
      <div>账号</div>
      <div>{$member.username}</div>
    </div>
    <div class="item">
      <a href="{:url('index/member/index')}">基础资料</a>
    </div>
    <div class="item">
      <a href="{:url('index/member/article')}">文章中心</a>
    </div>
  </div>
  <div class="main">
    <div class="mtit">
      <div>基础资料</div>
      <div><a href="{:url('index/member/edit')}">编辑</a></div>
    </div>
    <hr />
    <table border="1px">
      <tr>
        <td>ID：</td>
        <td>{$member.id}</td>
      </tr>
      <tr>
        <td>账号：</td>
        <td>{$member.username}</td>
      </tr>
      <tr>
        <td>注册时间：</td>
        <td>{$member.create_time}</td>
      </tr>
      <tr>
        <td>手机：</td>
        <td>{$member.mobile|default="未填写"}</td>
      </tr>
      <tr>
        <td>邮箱：</td>
        <td>{$member.email|default="未填写"}</td>
      </tr>
      <tr>
        <td>头像：</td>
        <td>
          {if $member.avatar}
          <img src="{$member.userpic.filepath}" width="70" height="70" />
          {else} {$member.avatar==0?"未上传":$member.avatar} {/if}
        </td>
      </tr>
    </table>
  </div>
</div>
{/block}
