{extend name="layout" /} {block name="main"}
<form
  action="{:url('index/member/register')}"
  method="post"
  onsubmit="return formcallback();"
>
  <div>
    <div>账号</div>
    <div><input type="text" name="username" /></div>
  </div>
  <div>
    <div>密码</div>
    <div><input type="password" name="password" /></div>
  </div>
  <div>
    <div>确认密码</div>
    <div><input type="password" name="confirm_pasword" /></div>
  </div>
  <div>
    <div></div>
    <div><button type="submit">注册</button></div>
  </div>
</form>
{/block} {block name="script"}
<script>
  function formcallback() {
    var params = $("form").serialize();
    $.ajax({
      type: "post",
      url: $("form").attr("action"),
      data: params,
      dataType: "json",
      success: function (response) {
        alert(response.msg);
        if (response.data.url) {
          window.location.href = response.data.url;
        }
      },
      error: function (e) {
        alert(e.responseJSON.message);
      },
    });
    return false;
  }
</script>
{/block}
